.feature {
  display: inline-block;

  font-weight: normal;
  color: $secondary;
  font-size: 80%;
  text-transform: uppercase;

  &::after {
    content: '.';
    padding-left: 4px;
    padding-right: 4px;
  }

  &:last-child::after {
    display: none;
  }



}
