$filter-option-padding-top: 8px !default;
$filter-option-border-color: $light;


.filter-option {
  display: flex;
  align-items: center;

  & > div {
    padding: $filter-option-padding-top 0;
  }

  .filter-option__select {
    margin-right: 0.6rem;
  }

  .filter-option__details {
    flex: 1;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid $filter-option-border-color;

    span {
      width: 100%;
      display: inline-block;
    }
  }

  .filter-option__icon {
    border-top: 1px solid $filter-option-border-color;
    padding-left: 0.6rem;

    img {
      width: 20px;
    }
  }

  &:last-child {
    .filter-option__icon, .filter-option__details {
      border-bottom: 1px solid $filter-option-border-color;
    }
  }
}