.mbottom-small {
  margin-bottom: 15px;
}

.mbottom-default {
  margin-bottom: 25px;
}

.mbottom-large {
  margin-bottom: 45px;
}

.smaller {
  font-size: $font-size-smaller;
}

.small {
  font-size: $font-size-small;
}

.dvh-100 {
    height: 100vh;
    height: 100dvh;
}
