$image-grid-margin: 4px;
$image-grid-columns: 2;

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -$image-grid-margin;

  .image-grid__item {
    //flex-basis: calc(33.33% - 4px);
    flex-basis: calc((100% / $image-grid-columns) - (2 * $image-grid-margin));
    margin: $image-grid-margin;
    aspect-ratio: 16/10;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 0;
      padding: 0;
      transition: .3s all;
      transform: scale(1.05);
    }

    &:hover img {
      transform: scale(1.15);
    }
  }
}