html {
  background: $background-color;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-size: $font-size;
  font-family: $font-family;

  color: $font-color;
  line-height: 1.4;
}

body.scroll-disabled {
  overflow: hidden
}

.nav {
}

.content {
  position: relative;
}

#map {
  flex-grow: 1;
}

//.sidebar-left-open .leaflet-left {
//  margin-left: 350px;
//}
//
//.sidebar-right-open .leaflet-right {
//  margin-right: 550px;
//}
