.sidebar {

    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.20);
    padding: 30px;
    padding-top: 40px;

    top: 0px;
    bottom: 0px;
    height: auto;

    &.sidebar--right {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 30px;
    }

    &.sidebar--left {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 30px;
    }

    .sidebar--left {
        width: 350px;
    }

    .sidebar__header__buttons {
        top: -22px;
    }

    //.sidebar--left {
    //    .sidebar__header__buttons {
    //        right: unset;
    //        left: 5px;
    //    }
    //}

    .sidebar__header__buttons .button {

        font-size: larger;

        color: $light-gray;
        display: flex;
        justify-content: center;

        transition-property: color, background-color;
        transition-duration: .3s;

        &:hover {
            color: white;
        }

        i.bi {
            display: flex;

            &::before {
                display: flex;
                align-items: center;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #sidebar__viewer {
        width: calc(100% - 560px);
    }
}
