.theme--default {
    .bg-dark {
        background-color: var(--theme-color-primary) !important;
    }

    h1, .h1 {
        color: var(--theme-color-primary);
    }

    .vue-slider.vue-slider--gm {
        color: #fff;

        &:hover {
            .vue-slider-rail {
                background: none;
            }

            .vue-slider-dot-handle, .vue-slider-dot-handle:hover {
                background: var(--theme-color-primary-contrast);
                border: 2px solid var(--theme-color-primary-contrast);
            }
        }

        .vue-slider-dot-handle {
            background: var(--theme-color-primary-contrast);
            border: 2px solid var(--theme-color-primary-contrast);
        }
    }

}
