//$font-family: 'Noto Serif', serif;
$background-color: white;
$font-color: #333333;

$font-family-sans-serif: 'Graphik', sans-serif;
$font-family-serif: 'BrightonBold', serif;

$font-family: $font-family-sans-serif;

$color-blue: #0080b6;

$font-size: 1rem;
$font-size-smaller: 0.9rem;
$font-size-small: 0.8rem;

$h1-font-size: 2.2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1.0rem;

$headings-font-family: $font-family-sans-serif;

$primary: #610345;
$secondary: #ed474a;
$tertiary: #909090;
$black: #323232;

$light: #e6e6e6;

$dark: $primary;

$light-gray: #aaa;

// vue-slider-component

$themeColor: $secondary;

// custom checkbox control

$custom-control-indicator-size: 1.3rem;
$custom-control-indicator-bg: $light;
$custom-control-indicator-active-bg: $light;
$custom-control-indicator-border-width: 4px;
$custom-control-indicator-border-color: $light;
$custom-control-indicator-focus-border-color: $light;
$custom-control-indicator-focus-box-shadow: none;
$custom-control-indicator-checked-bg: $secondary;
$custom-control-indicator-checked-border-color: $light;

$custom-checkbox-indicator-border-radius: 50%;
$custom-checkbox-indicator-icon-checked: none;

// navbar

$navbar-height: 55px;
$navbar-brand-image-height: 75px;
