//$font-family: 'Noto Serif', serif;
$background-color: white;
$font-color: #333333;

$font-family-sans-serif: 'Graphik', sans-serif;
$font-family-serif: 'BrightonBold', serif;

$font-family: $font-family-sans-serif;

$color-blue: #0080b6;

$font-size: 1rem;
$h1-font-size: 2.2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1.0rem;

$headings-font-family: $font-family-sans-serif;

$primary: #610345;
$secondary: #ed474a;
$tertiary: #909090;
$black: #323232;

$light: #e6e6e6;

$dark: $primary;

$light-gray: #aaa;