body {
  h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu Condensed, sans-serif
  }
  button, span {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 15px
  }
  h1 {
    font-size: 18pt
  }
  h2 {
    font-size: 16pt
  }
  h3 {
    font-size: 15pt
  }
  h4 {
    font-size: 14pt
  }
  h5 {
    font-size: 13pt
  }
  h6,
  label {
    font-size: 12pt
  }
}